body {
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    color: #f9faf8;
    margin: 0;
}

.header {
    margin: 16px 128px 48px 128px;
    font-size: 24px;
    display: flex;
    justify-content:  space-between;
}

.header-logo {
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 0;
    align-items: center;
    gap: 16px;
}

li a {
    text-decoration: none;
    color: #f9faf8;
}

.hero-part {
    padding-left: 128px;
    padding-right: 128px;
    display: flex;
    flex-flow: column wrap;
    max-height: 480px;
    max-width: 480px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    gap: 8px;
}

.hero-img {
    max-width: 480px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 32px;
}
.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.section-two {
    background-color: white;
    color: #1f2937;
    padding-bottom: 32px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    padding: 12px 24px;
    display: inline-block;
}

.card {
    max-width: 256px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card img {
    max-width: 128px;
    border: 2px solid #3882f6;
    border-radius: 12px;
    padding: 8px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.section-three {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 128px 256px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.quote {
    margin: 0;
    text-align: justify;
}

.author-of-quote {
    margin: 0;
    margin-top: 16px;
    font-weight: bold;
    align-self: flex-end;
}

.section-four {
    background-color: #f9faf8;
    margin: 0;
    padding: 64px;
}

.content-four {
    background-color: #3882f6;
    padding: 32px 64px;
    border-radius: 12px;
    display: flex;
    gap: 128px;
}

.content-four p {
    font-weight: bold;
    font-size: 18px;
    color: #e5e7eb;
}

p.call-to-action {
    font-size: 36px;
    margin-bottom: 0;
    color: #f9faf8;
}

.content-four button {
    border: 2px solid #f9faf8;
    border-radius: 12px;
    align-self: center;
    min-width: 128px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}